<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantInspector</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
  <p>Welcome to this wonderful site built using Ruby on Rails.</p>
</div>
  </footer>
</html>
